/*General game styles*/
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Board styles*/
canvas {
    border:rgb(68, 68, 68);
    border-style: solid;
}

#board {
    padding-left: 2px;
    padding-top: 1px;
}